mixin treatment-report(patient)
  div(class="treatment-report")
    div(class="print-title")
      h2 Treatment report
      hr
    div(class="patient-info treatment-report-info")
        div(class="section-number")
          span 1. Patient information
        div(class="patient-info-item")
          div(class="patient-info-item-title") PCode:
          div(class="patient-info-item-content cry") #{patient.PCode}
        div(class="patient-info-item")
          div(class="patient-info-item-title") Name:
          div(class="patient-info-item-content cry") #{patient.PFName} #{patient.PLName}
        div(class="patient-info-item")
          div(class="patient-info-item-title") Date of Birth:
          div(class="patient-info-item-content cry") #{patient.PDoB}
        div(class="patient-info-item")
          div(class="patient-info-item-title") Address:
          div(class="patient-info-item-content cry") #{patient.PAddress}
        div(class="patient-info-item")
          div(class="patient-info-item-title") Phone:
          div(class="patient-info-item-content cry") #{patient.PPhone}
        div(class="section-number")
          span 2. Doctor information
        div(class="patient-info-item")
          div(class="patient-info-item-title") Doctor:
          div(class="patient-info-item-content cry" doctor)
        div(class="section-number")
          span 3. Treatment information
        div(class="patient-info-item")
          div(class="patient-info-item-title") Treatment Start Date:
          div(class="patient-info-item-content cry" treatmentStartDate) 
        div(class="patient-info-item")
          div(class="patient-info-item-title") Admission Date:
          div(class="patient-info-item-content cry" admissionDate)
        div(class="patient-info-item")
          div(class="patient-info-item-title") In Result:
          div(class="patient-info-item-content cry" inResult)
        div(class="patient-info-item")
          div(class="patient-info-item-title") Date of Discharge:
          div(class="patient-info-item-content cry" dateOfDischarge)
        div(class="patient-info-item")
          div(class="patient-info-item-title") Treat End Date:
          div(class="patient-info-item-content cry" treatEndDate)
    div(class="print-button-div")
      button(class="print-button") Print