extends ../../layouts/layout2.pug
include ../../mixins/alert.pug
include ../../mixins/header.pug
block main
  +alert-success(5000)
  +alert-error(5000)
  h2(class="patient-title") Doctor: #{doctor.ELName} #{doctor.EFName} - #{doctor.ECode}
  div(class="patient-table")
    div(class="table-footer")
      div(class="table-length" id="table-length")
        label(for="table-length-select") Rows per page:
        select(id="table-length-select")
          option(value="5" selected=paginate.limit==5?true:false) 5
          option(value="10" selected=paginate.limit==10?true:false) 10
          option(value="15" selected=paginate.limit==15?true:false) 15
          option(value="20" selected=paginate.limit==20?true:false) 20
      div(class="table-pagination" id="table-pagination")
        button( id="table-pagination-prev" class="button-pagination" data-page=paginate.page) Previous
        input(class="table-pagination-text" class="page-pagination" value=paginate.page)
        button( id="table-pagination-next" class="button-pagination" data-total-page=paginate.totalPage data-page=paginate.page) Next
    table(class="table")
      thead
        tr
          th(scope='col') PCode
          th(scope='col') PFName
          th(scope='col') PLName
          th(scope='col') PDob
          th(scope='col') PGender
          th(scope='col') PAddress
          th(scope='col') Treatment Start Date
          th(scope='col') AdmissionDate
          th(scope='col') InResult
          th(scope='col') Date of Discharge
          th(scope='col') Treat End Date
      tbody
        if(patientList)
          for patient in patientList 
            tr(class="patient-row" patient-row data-id=patient.PCode)
              td #{patient.PCode}
              td #{patient.PFName}
              td #{patient.PLName}
              td #{patient.PDoB}
              td #{patient.PGender}
              td #{patient.PAddress}
              td #{patient.TreatmentStartDate}
              td #{patient.AdmissionDate}
              if(patient.InResult=='recovered')
                td #{patient.InResult}
              else
                td Not recovered
              td #{patient.DateOfDischarge}
              td #{patient.TreatEndDate}
    





              
