extends ../../layouts/layout2.pug
include ../../mixins/alert.pug
include ../../mixins/header.pug
block main
  +alert-success(5000)
  +alert-error(5000)
  h2(class="patient-title") Patient #{patient.PCode}
  div(class="row")
    div(class="col-5")
      div(class="patient-info")
          div(class="patient-info-item")
            div(class="patient-info-item-title") PCode:
            div(class="patient-info-item-content") #{patient.PCode}
          div(class="patient-info-item")
            div(class="patient-info-item-title") Name:
            div(class="patient-info-item-content") #{patient.PFName} #{patient.PLName}
          div(class="patient-info-item")
            div(class="patient-info-item-title") Date of Birth:
            div(class="patient-info-item-content") #{patient.PDoB}
          div(class="patient-info-item")
            div(class="patient-info-item-title") Address:
            div(class="patient-info-item-content") #{patient.PAddress}
          div(class="patient-info-item")
            div(class="patient-info-item-title") Phone:
            div(class="patient-info-item-content") #{patient.PPhone}
          div(class="patient-info-item")
            div(class="patient-info-item-title") Patient Type:
            div(class="patient-info-item-content") #{patient.PTypeCode}
    div(class="col-5")
      div(class="patient-action")
        button(class="patient-action-button" patient-edit) Edit patient infomation
        button(class="patient-action-button" patient-treatment) Add treatment report
        button(class="patient-action-button" patient-examination) Add examination report
  h2(class="patient-title") History of treatment
  div(class="patient-table")
    table(class="table")
        thead
          tr
            th(scope='col') INPCode
            th(scope='col') Treatment Start Date
            th(scope='col') Admission Date
            th(scope='col') Doctor
            th(scope='col') Result
            th(scope='col') Date of Discharge
            th(scope='col') Treat End Date
            th(scope='col') Action
        tbody
          if(treatmentList)
            for treatment in treatmentList 
              tr
                td #{treatment.INPCode}
                td #{treatment.TreatmentStartDate}
                td #{treatment.AdmissionDate}
                td #{treatment.doctorName}
                if (treatment.InResult=='recovered')
                  td Recovered
                else
                  td Not Recovered
                td #{treatment.DateOfDischarge}
                td #{treatment.TreatEndDate}
                td 
                  button(print-treatment-report data-id=`${treatment.TreatmentStartDate},${treatment.AdmissionDate},${
                    treatment.doctorName},${treatment.InResult},${treatment.DateOfDischarge},${treatment.TreatEndDate}`) Print
  h2(class="patient-title") History of Examination
  div(class="patient-table")
    table(class="table")
        thead
          tr
            th(scope='col') OUTPCode
            th(scope='col') Examination Date
            th(scope='col') Doctor
            th(scope='col') Diagnosis
            th(scope='col') Examination Next Date
            th(scope='col') Examination Fee
            th(scope='col') Action
        tbody
          if(examinationList)
            for exam in examinationList 
              tr
                td #{exam.OUTPCode}
                td #{exam.ExaminationDate}
                td #{exam.doctorName}
                td #{exam.OutDiagnosis}
                td #{exam.ExmNextDate}
                td #{exam.ExmFee}
                td 
                  button(print-examination-report data-id=`${exam.ExaminationDate},${exam.doctorName},${exam.OutDiagnosis},${exam.ExmNextDate},${exam.ExmFee}`) Print
block print
  div(class="print-background")
  div(class="treatment-report")
    div(class="print-title")
      h2 Treatment report
      hr
    div(class="patient-info treatment-report-info")
        div(class="patient-info-item")
          div(class="patient-info-item-title") PCode:
          div(class="patient-info-item-content cry") #{patient.PCode}
        div(class="patient-info-item")
          div(class="patient-info-item-title") Name:
          div(class="patient-info-item-content cry") #{patient.PFName} #{patient.PLName}
        div(class="patient-info-item")
          div(class="patient-info-item-title") Date of Birth:
          div(class="patient-info-item-content cry") #{patient.PDoB}
        div(class="patient-info-item")
          div(class="patient-info-item-title") Address:
          div(class="patient-info-item-content cry") #{patient.PAddress}
        div(class="patient-info-item")
          div(class="patient-info-item-title") Phone:
          div(class="patient-info-item-content cry") #{patient.PPhone}
        div(class="patient-info-item")
          div(class="patient-info-item-title") Treatment Start Date:
          div(class="patient-info-item-content cry" treatmentStartDate) 
        div(class="patient-info-item")
          div(class="patient-info-item-title") Admission Date:
          div(class="patient-info-item-content cry" admissionDate)
        div(class="patient-info-item")
          div(class="patient-info-item-title") Doctor:
          div(class="patient-info-item-content cry" doctor)
        div(class="patient-info-item")
          div(class="patient-info-item-title") In Result:
          div(class="patient-info-item-content cry" inResult)
        div(class="patient-info-item")
          div(class="patient-info-item-title") Date of Discharge:
          div(class="patient-info-item-content cry" dateOfDischarge)
        div(class="patient-info-item")
          div(class="patient-info-item-title") Treat End Date:
          div(class="patient-info-item-content cry" treatEndDate)
    div(class="print-button-div")
      button(class="print-button") Print
  div(class="examination-report")
    div(class="print-title")
      h2 Examination report
      hr
    div(class="patient-info treatment-report-info")
        div(class="patient-info-item")
          div(class="patient-info-item-title") PCode:
          div(class="patient-info-item-content cry") #{patient.PCode}
        div(class="patient-info-item")
          div(class="patient-info-item-title") Name:
          div(class="patient-info-item-content cry") #{patient.PFName} #{patient.PLName}
        div(class="patient-info-item")
          div(class="patient-info-item-title") Date of Birth:
          div(class="patient-info-item-content cry") #{patient.PDoB}
        div(class="patient-info-item")
          div(class="patient-info-item-title") Address:
          div(class="patient-info-item-content cry") #{patient.PAddress}
        div(class="patient-info-item")
          div(class="patient-info-item-title") Phone:
          div(class="patient-info-item-content cry") #{patient.PPhone}
        div(class="patient-info-item")
          div(class="patient-info-item-title") Examination Date:
          div(class="patient-info-item-content cry" examinationDate) 
        div(class="patient-info-item")
          div(class="patient-info-item-title") Doctor:
          div(class="patient-info-item-content cry" doctor2)
        div(class="patient-info-item")
          div(class="patient-info-item-title") Out Diagnosis:
          div(class="patient-info-item-content cry" outDiagnosis)
        div(class="patient-info-item")
          div(class="patient-info-item-title") Next Examination:
          div(class="patient-info-item-content cry" exmNextDate)
        div(class="patient-info-item")
          div(class="patient-info-item-title") Examination Fee:
          div(class="patient-info-item-content cry" exmFee)
    div(class="print-button-div2")
      button(class="print-button2") Print


          


      





              
