extends ../../layouts/layout2.pug
include ../../mixins/alert.pug
include ../../mixins/header.pug
include ../../mixins/treatment-report.pug
include ../../mixins/examination-report.pug
block main
  +alert-success(5000)
  +alert-error(5000)
  h2(class="patient-title") Patient #{patient.PCode}
  div(class="row")
    div(class="col-5")
      div(class="patient-info")
          div(class="patient-info-item")
            div(class="patient-info-item-title") PCode:
            div(class="patient-info-item-content") #{patient.PCode}
          div(class="patient-info-item")
            div(class="patient-info-item-title") Name:
            div(class="patient-info-item-content") #{patient.PFName} #{patient.PLName}
          div(class="patient-info-item")
            div(class="patient-info-item-title") Date of Birth:
            div(class="patient-info-item-content") #{patient.PDoB}
          div(class="patient-info-item")
            div(class="patient-info-item-title") Address:
            div(class="patient-info-item-content") #{patient.PAddress}
          div(class="patient-info-item")
            div(class="patient-info-item-title") Phone:
            div(class="patient-info-item-content") #{patient.PPhone}
          div(class="patient-info-item")
            div(class="patient-info-item-title") Patient Type:
            div(class="patient-info-item-content") #{patient.PTypeCode}
    div(class="col-5")
      div(class="patient-action")
        //- button(class="patient-action-button" patient-edit data-id=patient.PCode) Edit patient infomation
        button(class="patient-action-button" patient-treatment data-id=patient.PCode) Add treatment report
        button(class="patient-action-button" patient-examination data-id=patient.PCode) Add examination report
  h2(class="patient-title") History of treatment
  div(class="patient-table")
    table(class="table")
        thead
          tr
            th(scope='col') INPCode
            th(scope='col') Treatment Start Date
            th(scope='col') Admission Date
            th(scope='col') Doctor
            th(scope='col') Result
            th(scope='col') Date of Discharge
            th(scope='col') Treat End Date
            th(scope='col') Action
        tbody
          if(treatmentList)
            for treatment in treatmentList 
              tr
                td #{treatment.INPCode}
                td #{treatment.TreatmentStartDate}
                td #{treatment.AdmissionDate}
                td #{treatment.doctorName}
                if (treatment.InResult=='recovered')
                  td Recovered
                else
                  td Not Recovered
                td #{treatment.DateOfDischarge}
                td #{treatment.TreatEndDate}
                td 
                  button(print-treatment-report data-id=`${treatment.TreatmentStartDate},${treatment.AdmissionDate},${
                    treatment.doctorName},${treatment.InResult},${treatment.DateOfDischarge},${treatment.TreatEndDate}`) Print
  h2(class="patient-title") History of Examination
  div(class="patient-table")
    table(class="table")
        thead
          tr
            th(scope='col') OUTPCode
            th(scope='col') Examination Date
            th(scope='col') Doctor
            th(scope='col') Diagnosis
            th(scope='col') Examination Next Date
            th(scope='col') Examination Fee
            th(scope='col') Action
        tbody
          if(examinationList)
            for exam in examinationList 
              tr
                td #{exam.OUTPCode}
                td #{exam.ExaminationDate}
                td #{exam.doctorName}
                td #{exam.OutDiagnosis}
                td #{exam.ExmNextDate}
                td #{exam.ExmFee}
                td 
                  button(print-examination-report data-id=`${exam.ExaminationDate},${exam.doctorName},${exam.OutDiagnosis},${exam.ExmNextDate},${exam.ExmFee}`) Print
block print
  div(class="print-background")
  +treatment-report(patient)
  +examination-report(patient)


          


      





              
